/*-----FONT-----*/
@font-face {
    font-family: Je;
    src: url(../font/JETSansDigital-Regular.woff2);
}


/*------Herramientas generales------*/
body{
    margin: 0;
    font-family: Je;
}
* {
    box-sizing: border-box;
}
.row {
    display: flex;
}
.justify-content-between {
    justify-content: space-between;
}
.justify-content-center {
    justify-content: center;
}
.align-items-center {
    align-items: center;
}
.wrap {
    flex-wrap: wrap;
}
.h-500 {
    height: 500px;
}
.text-center {
    text-align: center;
}
.m-2 {
    margin: 16px auto;
}
.inline {
    display: inline;
}
.m-top {
    margin-top: 32px;
}



/*-----HEADER------*/ 
header {
    background-color: rgb(204, 18, 29);
   
}
.navbar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.navbar li {
    display: inline;
    padding: 0 10px;
}
.navbar li a{
    color: white;
    text-decoration: none;
}



/*--------CONTAINER------*/
.container {
    height: 400px;
    background-image: url(../img/heroImg.jpg);
    background-position-y: center;
    background-size: 130%;
}